-#  This file is app/views/activity/index.html.haml
%h1 All Activities

%table#activities
  %thead
    %tr
      %th Title
      %th Type
      %th More Info
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.title 
        %td= activity.act_type
        %td= link_to "More about #{activity.title}", activity_path(activity)

= link_to 'Add new activity', new_activity_path